@import "tailwindcss";
@plugin "tailwindcss-primeui";

/* Import Preferred Nimbus Font used for logo*/
@font-face {
  font-family: "Nimbus Sans";
  src: url('assets/Fonts/nimbus-sans-l.bold.otf') format('opentype');
  font-weight: bold;
}



